<div class="header">
    <div class="left">
        <button
            mat-button
            class="drawer-button"
            (click)="toggleDrawer.emit()">
            <fa-icon [icon]="icons.drawer"></fa-icon>
        </button>
        <div class="title">{{ (app_state_service.state$ | async)?.platform_title }}</div>
    </div>
    <div class="right">
        <div
            *ngIf="!(telegram_auth_service.user$ | async)"
            class="login-wrap">
            <app-telegram-login-button
                *ngIf="app_state_service.state$ | async as app_state"
                [botName]="app_state.telegram_bot_username"
                (login)="telegram_auth_service.storeUser($event)"></app-telegram-login-button>
        </div>
        <div
            *ngIf="telegram_auth_service.user$ | async as user"
            class="user"
            (click)="clicked_user()">
            <div
                *ngIf="user.photo_url"
                class="img"
                [style.background-image]="'url(' + user.photo_url + ')'"></div>
            <div
                *ngIf="!user.photo_url"
                class="noimg">
                <fa-icon [icon]="icons.default_avatar"></fa-icon>
            </div>
        </div>
    </div>
</div>
