@import '../../../../styles/responsive.scss';
@import './header-size.scss';

.header
{
    height: $header-height;
    line-height: $header-height - 1;
    display: flex;

    > .left,
    > .right
    {
        flex-grow: 1;
        flex-shrink: 1;
    }

    > .left
    {
        padding-left: 16px;

        > .drawer-button
        {
            margin-right: 10px;
        }

        > .title
        {
            display: inline-block;
            vertical-align: middle;
            font-size: 120%;
            font-weight: 600;
        }
    }

    > .right
    {
        text-align: right;
        padding-right: 16px;

        > .login-wrap
        {
            display: inline-block;
            padding-top: 10px;
        }

        > .user
        {
            > .img,
            > .noimg
            {
                $img-size: $header-height * 0.6;

                display: inline-block;
                vertical-align: middle;
                width: $img-size;
                height: $img-size;
                border-radius: $img-size / 2;
                background-color: rgba(255, 255, 255, 0.3);
                text-align: center;
                line-height: $img-size;
                cursor: pointer;
            }

            > .img
            {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }

            > .noimg
            {

            }
        }
    }
}