# Global caddy config options must be first
{
    admin off
    auto_https off
}

# Bind to port 80
:80

# Serve static files
file_server

# Fallback to index.html for everything but assets
@html {
    not path *.js *.css *.png *.svg *.pdf *.eot *.ttf *.woff *.woff2 *.webmanifest
    file index.html
}

handle_errors {
    header Cache-Control no-store
}

rewrite @html {http.matchers.file.relative}

# Don't cache index.html and set CSP
header @html Cache-Control no-store
