<ng-template #profile_loading>Loading...</ng-template>

<div
    class="creator-profile"
    *ngIf="meta$ | async as meta; else: profile_loading">
    <div class="profile">

        <div class="stream-section">
            <div
                *ngIf="meta.live_stream"
                class="video-wrap">
                <app-video-player
                    [src]="$any(stream_url$ | async)"
                    [chat-src]="$any(chatroom_url$ | async)"></app-video-player>
            </div>
            <div
                *ngIf="!meta.live_stream"
                class="offline-notice">
                Stream is offline
            </div>
        </div>

        <div class="creator-section">
            <div class="left">
                <div
                    class="image"
                    [style.background-image]="'url(' + meta.image + ')'"></div>
            </div>
            <div class="center">
                <div class="text-wrap">
                    <div class="text">
                        <div class="name">{{ meta.name }}</div>
                        <div class="stream-info" *ngIf="meta.live_stream || meta.next_stream">
                            <ng-container *ngIf="meta.live_stream">
                                <div class="badge live">LIVE</div>
                                <span>{{ meta.live_stream.title }}</span>
                            </ng-container>
                            <ng-container *ngIf="meta.next_stream && !meta.live_stream">
                                <div class="badge upcoming">UPCOMING</div>
                                <span>{{ meta.next_stream.title }}</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <!-- Viewer count goes here -->
            </div>
        </div>

        <div class="notifications-section">
            <div class="notifications-wrap">
                <mat-slide-toggle
                    *ngIf="browser_notifications_service.supported$() | async"
                    [checked]="browser_notifications_service.subscribed_to$(meta.id) | async"
                    (change)="browser_notifications_service.set_subscribed(meta.id, $event.checked)">
                    Browser Notifications
                </mat-slide-toggle>
                <br />
                <mat-slide-toggle
                    *ngIf="telegram_notifications_service.supported$() | async"
                    [checked]="telegram_notifications_service.subscribed_to$(meta.id) | async"
                    (change)="telegram_notifications_service.set_subscribed(meta.id, $event.checked)">
                    Telegram Notifications
                </mat-slide-toggle>
            </div>
        </div>

    </div>
    <div class="livechat">
        <div class="heading">Live Chat</div>
        <div class="content">
            <app-chatroom
                *ngIf="chatroom_url$ | async as chatroom_url"
                [src]="chatroom_url"></app-chatroom>
            <div
                *ngIf="!(chatroom_url$ | async)"
                class="no-chat">
                Live chat is closed
            </div>
        </div>
    </div>
</div>
