<mat-drawer-container class="studio-dashboard">
    <mat-drawer mode="side" opened>
        <div class="navlinks">
            <a
                routerLink="/studio/streams"
                matRipple>
                <span>Streams</span>
            </a>
            <a
                routerLink="/studio/chat"
                matRipple>
                <span>Live Chat</span>
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>