.live-chat
{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: absolute;

    .coming-soon
    {
        $height: 40px;

        position: absolute;
        top: 50%;
        margin-top: -$height / 2;
        width: 100%;
        text-align: center;
        height: $height;
        line-height: $height;
        font-weight: 600;
        font-style: italic;
        font-size: 120%;
    }

    > .chat-wrap
    {
        height: 100%;
        display: flex;
        flex-direction: column;

        > .messages
        {
            flex-grow: 1;
            flex-shrink: 1;
            overflow-y: auto;

            > .message
            {
                display: flex;
                padding-top: 6px;
                padding-bottom: 6px;

                > .left
                {
                    $image-size: 24px;

                    flex-grow: 0;
                    flex-shrink: 0;
                    width: $image-size + 8px * 2;
                    text-align: center;

                    > .image
                    {
                        display: inline-block;
                        width: $image-size;
                        height: $image-size;
                        border-radius: $image-size / 2;
                        background-color: #CCC;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    > .noimage
                    {
                        margin-top: 4px;
                    }
                }

                > .right
                {
                    flex-grow: 1;
                    flex-shrink: 1;
                    padding-top: 2px;
                    vertical-align: middle;

                    > .name
                    {
                        font-weight: 600;
                        font-size: 110%;
                        margin-right: 8px;
                        color: #FFF;
                    }

                    > .message
                    {
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }

        > .fieldbox
        {
            flex-grow: 0;
            flex-shrink: 0;
            // height: 80px;
            background-color: rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            > .top
            {
                padding-top: 8px;
                padding-left: 8px;
                padding-right: 8px;

                > input
                {
                    width: 100%;
                    height: 32px;
                    background-color: rgba(255, 255, 255, 0.1);
                    color: #FFF;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    font-size: 100%;
                    padding-left: 10px;
                }
            }

            > .bottom
            {
                text-align: right;
                padding-top: 8px;
                padding-right: 8px;
                padding-bottom: 10px;

                button
                {
                    color: #FFF;
                    background-color: #08F;
                }
            }

            > .login-box
            {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 6px;
            }
        }
    }
}