.live-chat
{
    height: 100%;
    overflow-y: auto;
    position: relative;

    .coming-soon
    {
        $height: 40px;

        position: absolute;
        top: 50%;
        margin-top: -$height / 2;
        width: 100%;
        text-align: center;
        height: $height;
        line-height: $height;
        font-weight: 600;
        font-style: italic;
        font-size: 120%;
    }
}