<div class="studio-login-form">
    <mat-form-field>
        <input
            matInput
            type="email"
            [(ngModel)]="formdata.email"
            placeholder="Email" />
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            type="password"
            [(ngModel)]="formdata.password"
            (keydown.enter)="login()"
            placeholder="Password" />
    </mat-form-field>
    <button
        mat-raised-button
        (click)="login()">
        <fa-icon
            *ngIf="submitting"
            [icon]="icons.submitting"
            [spin]="true"></fa-icon>
        Login
    </button>
</div>