@import './styles/constants.scss';
@import './styles/theme.scss';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *:before, *:after
{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	outline: none;
}

html, body
{
	margin: 0;
	padding: 0;
	font-size: 15px;
	text-rendering: geometricPrecision;
	-webkit-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
    font-weight: 400;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    height: 100%;
	background-color: #222;
	color: #FFF;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
@include angular-material-theme($my-theme);
